/* compressed using https://www.giftofspeed.com/css-compressor/ */
html {
  font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}
.sd {
  z-index: 0;
  pointer-events: all;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  align-items: center;
  overflow: hidden;
}
.image {
  position: relative;
}
.image:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: inherit;
  z-index: -2;
  pointer-events: none;
  background-size: cover;
  background-position: 50%;
}
.sd .text {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: visible;
}
.fixed {
  z-index: 2;
}

.StudioCanvas {
  height: auto;
  min-height: 100vh;
  display: flex;
}
.StudioCanvas > .sd {
  overflow-x: visible !important;
  overflow-y: visible !important;
  min-height: 100vh;
}
html,
img,
p,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0;
  list-style: none;
  font-family: Lato, Noto Sans Japanese;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  transition: 0.3s cubic-bezier(0.4, 0.4, 0, 1);
  letter-spacing: 0;
  font-weight: 400;
  color: #333;
  flex: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
body {
  line-height: 1;
}
.sd[menu] {
  align-content: center;
  align-items: center;
  background: #eee;
  border-radius: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: flex-start;
  margin: 0;
  opacity: 1;
  padding: 0;
  width: 100%;
  max-width: 100%;
}
.sd[menu1] {
  align-content: center;
  align-items: center;
  background: #fff;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 80px;
  justify-content: center;
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
}
.sd[menu3] {
  align-content: center;
  align-items: center;
  background: #000;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 50px;
  justify-content: center;
  width: 119px;
  max-width: 100%;
}
.sd[shrt] {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  height: auto;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}
.sd[nav] {
  align-content: center;
  align-items: center;
  background: #fff;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 50px;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 792px;
  max-width: 100%;
}
.sd[navitem] {
  color: #333;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  padding: 0 20px 0 20px;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}

.sd[data-s-e46f4acb-6731-4234-98a6-91993cb697b2] {
  align-content: center;
  align-items: center;
  background: #000;
  border-radius: 50%;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 25px;
  justify-content: center;
  width: 25px;
  max-width: 100%;
}
.sd[data-s-b21d0d2f-1530-467b-92ff-536a9c58c9ea] {
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  height: auto;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}
.sd[data-s-42998930-219a-4d89-9c42-fec25559ee53] {
  align-content: center;
  align-items: center;
  background: #000;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
  flex-direction: column;
  flex-wrap: nowrap;
  height: 256px;
  justify-content: center;
  margin: 80px 0 0 0;
  width: 931px;
  max-width: 100%;
}
.sd[data-s-38278641-28a2-4f3d-930b-cd378c17da21] {
  color: #fff;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 900;
  height: auto;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}
.sd[data-s-9605f8bc-1380-4edc-a5a0-a331057f13c2] {
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  height: auto;
  padding: 20px 0 0 0;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}
.sd[data-s-21d7fefa-4f89-488e-a2c3-1943acc381c0] {
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 97px;
  justify-content: center;
  width: 491px;
  max-width: 100%;
}
.sd[data-s-1d0f7327-a109-4a99-8ebc-9f6870c3fbea] {
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 100%;
}
.sd[data-s-e53caaf5-c227-4897-bb16-f957ee293e2f] {
  align-content: center;
  align-items: center;
  background: #000;
  border: solid 3px #fff;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 50px;
  justify-content: center;
  margin: 20px 10px 0 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  width: 161px;
  max-width: calc(100% - 20px);
}
.sd[data-s-027dff42-3c66-48c0-88e9-0ea2db85a911] {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  height: auto;
  margin: 0;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}
.sd[data-s-a100382c-1a35-4ff0-b39e-603cfc63a808] {
  align-content: center;
  align-items: center;
  background: #000;
  border: solid 3px #fff;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 50px;
  justify-content: center;
  margin: 20px 10px 0 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  width: 112px;
  max-width: calc(100% - 20px);
}
.sd[data-s-7aa8173b-a6ce-4573-91ec-b03d18d5dfb5] {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  height: auto;
  margin: 0;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}
.sd[data-s-212a4ab5-f489-4b7a-8b48-48a09d648cf2] {
  align-content: center;
  align-items: center;
  background: #000;
  border: solid 3px #fff;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 50px;
  justify-content: center;
  margin: 20px 10px 0 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  width: 137px;
  max-width: calc(100% - 20px);
}
.sd[data-s-bd8939ca-167b-4a11-a7eb-dca6641e7590] {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  height: auto;
  margin: 0;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}
.sd[data-s-4eb8ed40-b46d-491a-97d9-6822b2a88476] {
  align-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.2);
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 336px;
  justify-content: center;
  width: 931px;
  max-width: 100%;
}
.sd[data-s-703c4e03-51c1-4170-9bbe-a7841137ab48] {
  align-content: center;
  align-items: center;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 260px;
  justify-content: center;
  margin: 0 10px 0 10px;
  width: 222px;
  max-width: calc(100% - 20px);
}
.sd[data-s-c16a0545-2ab1-438a-9010-38ec4fc83065] {
  flex: none;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}
.sd[data-s-5e3f6a96-02a2-424f-b0ee-a4ac7ae70d99] {
  align-content: center;
  align-items: center;
  border-radius: 0;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 260px;
  justify-content: center;
  margin: 0 10px 0 10px;
  width: 222px;
  max-width: calc(100% - 20px);
}
.sd[data-s-7f52adc6-68a1-45d8-8f50-0b975c4a8219] {
  height: 100%;
  width: 100%;
  max-width: 100%;
}
.sd[data-s-06ce8079-ba59-4444-9267-c65da7a5defa] {
  align-content: center;
  align-items: center;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 260px;
  justify-content: center;
  margin: 0 10px 0 10px;
  width: 331px;
  max-width: calc(100% - 20px);
}
.sd[data-s-935368f9-7bd8-4f2d-b8da-c706c6bea608] {
  height: 100%;
  width: 100%;
  max-width: 100%;
}
.sd[data-s-ebe44e3c-d8b5-4766-b4b4-8f708ae0e8f9] {
  align-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.2);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 170px;
  justify-content: center;
  width: 931px;
  max-width: 100%;
}
.sd[data-s-fd612c25-fece-4285-a2e7-0ff6ef196ce8] {
  color: #333;
  font-family: Lato;
  font-size: 36px;
  font-weight: 900;
  height: auto;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}
.sd[data-s-0e1d976b-732c-4810-a3ee-d151bfc07f85] {
  background: rgba(0, 0, 0, 0.36);
  height: 10px;
  margin: 10px 0 0 0;
  width: 260px;
  max-width: 100%;
}
.sd[data-s-64385df4-a41d-4f34-b509-7ffc33b8d61a] {
  align-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.2);
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 395px;
  justify-content: center;
  width: 931px;
  max-width: 100%;
}
.sd[data-s-4ee9aaf9-1e7b-4477-b258-eae215bc386d] {
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 100%;
}
.sd[data-s-09027f33-5c00-44f5-8cc6-b6e895236096] {
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 100%;
}
.sd[data-s-cacb8109-a56d-4f21-9671-a40b24150820] {
  align-content: center;
  align-items: center;
  background: #eee;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 256px;
  justify-content: center;
  margin: 0 20px 0 20px;
  width: 248px;
  max-width: calc(100% - 40px);
}
.sd[data-s-da687588-bdf1-44d8-b412-337fe8aa0ec7] {
  align-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
}
.sd[data-s-1e6460a7-06ea-48b1-97dd-5b29d2aa9e20] {
  align-content: center;
  align-items: center;
  background: #000;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 50px;
  justify-content: center;
  width: 85px;
  max-width: 100%;
}
.sd[data-s-2e678861-118b-4e91-8650-f0a9a315f843] {
  color: #fff;
  flex: none;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  height: 22px;
  text-align: center;
  width: 54px;
  max-width: 100%;
  justify-content: center;
}
.sd[data-s-e44d888e-9b47-4241-bda0-ddd806f28539] {
  color: rgba(0, 0, 0, 0.34);
  flex: none;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  height: auto;
  text-align: left;
  width: 248px;
  max-width: 100%;
  justify-content: flex-start;
}
.sd[data-s-17bed94b-cb0a-4a90-8d76-4abcb2daf28a] {
  color: #333;
  flex: none;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  height: auto;
  text-align: left;
  width: 234px;
  max-width: 100%;
  justify-content: flex-start;
}
.sd[data-s-64bae028-dc10-4490-ad0a-a6941d14b76c] {
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 100%;
}
.sd[data-s-43b2a36e-e282-42fe-b8aa-0a6c53609fa9] {
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 100%;
}
.sd[data-s-e7edf455-4958-40cb-8794-366e4c46f3a3] {
  align-content: center;
  align-items: center;
  background: #eee;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 256px;
  justify-content: flex-start;
  margin: 0 20px 0 20px;
  width: 248px;
  max-width: calc(100% - 40px);
}
.sd[data-s-902a528d-f225-4d59-aeac-f24ec2f13cbe] {
  align-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
}
.sd[data-s-960fda98-ed4e-4ef7-822a-20601fd2ad99] {
  color: rgba(51, 51, 51, 0.35);
  flex: none;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  height: auto;
  text-align: left;
  width: 238px;
  max-width: 100%;
  justify-content: flex-start;
}
.sd[data-s-f57697be-b32c-48a2-baf8-ca6359edd8a6] {
  color: #333;
  flex: none;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  height: auto;
  text-align: left;
  width: 234px;
  max-width: 100%;
  justify-content: flex-start;
}
.sd[data-s-9f24f790-0323-400c-b9e6-a7a76123824a] {
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 100%;
}
.sd[data-s-fac5479b-a1ee-4c6d-a8d8-f3fe23b0d7ae] {
  align-content: center;
  align-items: center;
  background: #eee;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 256px;
  justify-content: center;
  margin: 0 20px 0 20px;
  width: 248px;
  max-width: calc(100% - 40px);
}
.sd[data-s-27497922-379c-40f8-bff8-c44433ee1862] {
  height: 100%;
  width: 100%;
  max-width: 100%;
}
.sd[data-s-74e2c989-6240-4556-876b-abd7c86e807e] {
  color: rgba(0, 0, 0, 0.34);
  flex: none;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  height: 32px;
  text-align: left;
  width: 248px;
  max-width: 100%;
  justify-content: flex-start;
}
.sd[data-s-02533ded-7187-4431-963f-da5fbf3c6e9b] {
  color: #333;
  flex: none;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  height: auto;
  padding: 0 150px 0 0;
  text-align: left;
  width: 243px;
  max-width: 100%;
  justify-content: flex-start;
}
.sd[data-s-e68028fc-66f5-4316-9374-610ce6d4e8a2] {
  align-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.2);
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 395px;
  justify-content: center;
  width: 931px;
  max-width: 100%;
}
.sd[data-s-ed146fe5-7047-458b-a320-8a402b82aed9] {
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 100%;
}
.sd[data-s-81f9f99e-06a5-4093-b94e-f20c20e0ddc7] {
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 100%;
}
.sd[data-s-16a8ee88-9e0f-4ac4-9936-4ca20762afa8] {
  align-content: center;
  align-items: center;
  background: #eee;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 256px;
  justify-content: center;
  margin: 0 20px 0 20px;
  width: 248px;
  max-width: calc(100% - 40px);
}
.sd[data-s-d09ce6f8-9ca7-4960-8f86-6e72c1d9ccd5] {
  height: 100%;
  width: 100%;
  max-width: 100%;
}
.sd[data-s-9eaf3e62-376d-4c85-a806-f434960e6924] {
  color: rgba(0, 0, 0, 0.34);
  flex: none;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  height: auto;
  text-align: left;
  width: 248px;
  max-width: 100%;
  justify-content: flex-start;
}
.sd[data-s-f103af19-4e28-4335-9369-f308ed9428e4] {
  color: #333;
  flex: none;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  height: auto;
  text-align: left;
  width: 234px;
  max-width: 100%;
  justify-content: flex-start;
}
.sd[data-s-c97b6d3d-44d1-4250-8041-5b64c9d9e072] {
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 100%;
}
.sd[data-s-b4b70cff-a61c-43c3-8d8a-81d2c56b1fee] {
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 100%;
}
.sd[data-s-ffc92019-85f8-473a-8198-f0df039771c6] {
  align-content: center;
  align-items: center;
  background: #eee;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 256px;
  justify-content: center;
  margin: 0 20px 0 20px;
  width: 248px;
  max-width: calc(100% - 40px);
}
.sd[data-s-d5bfc934-0890-4730-ac46-71951139db1a] {
  height: 100%;
  width: 100%;
  max-width: 100%;
}
.sd[data-s-0aabe282-d3a5-4bc9-9f00-54abf8de1fd0] {
  color: rgba(51, 51, 51, 0.35);
  flex: none;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  height: auto;
  text-align: left;
  width: 238px;
  max-width: 100%;
  justify-content: flex-start;
}
.sd[data-s-42b0564b-cd18-4f80-b30a-88850276c9c2] {
  color: #333;
  flex: none;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  height: auto;
  text-align: left;
  width: 234px;
  max-width: 100%;
  justify-content: flex-start;
}
.sd[data-s-82d199ec-e08a-4c0a-8b72-9442c3ca3634] {
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 100%;
}
.sd[data-s-6d63d360-6e86-4bec-aac2-8dcaded6ad55] {
  align-content: flex-start;
  align-items: flex-start;
  background: #eee;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 256px;
  justify-content: center;
  margin: 0 20px 0 20px;
  width: 248px;
  max-width: calc(100% - 40px);
}
.sd[data-s-9da0dabc-ab7e-40fa-9cd8-13d16ce4efe0] {
  height: 100%;
  width: 100%;
  max-width: 100%;
}
.sd[data-s-650add03-6581-4397-8769-70e9c2e24ea9] {
  color: rgba(0, 0, 0, 0.34);
  flex: none;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  height: 32px;
  text-align: left;
  width: 248px;
  max-width: 100%;
  justify-content: flex-start;
}
.sd[data-s-c5a503f3-4ee3-4268-8dbb-75312265b218] {
  color: #333;
  flex: none;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  height: auto;
  padding: 0 150px 0 0;
  text-align: left;
  width: 243px;
  max-width: 100%;
  justify-content: flex-start;
}
.sd[data-s-910e68c6-f133-48f8-b883-c919fc996337] {
  align-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.2);
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 181px;
  justify-content: center;
  width: 931px;
  max-width: 100%;
}
.sd[data-s-c6add829-8ee8-4b1f-9d2f-4653770fdca4] {
  align-content: center;
  align-items: center;
  background: #fff;
  border: solid 2px #000;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 50px;
  justify-content: center;
  width: 220px;
  max-width: 100%;
}
.sd[data-s-5f9c3fc7-87e6-40fe-a028-45946d54a599] {
  color: #333;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  height: auto;
  letter-spacing: 0;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}
.sd[data-s-dc312236-e939-4a60-aceb-19211cb924fa] {
  align-content: center;
  align-items: center;
  background: #000;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 50px;
  justify-content: center;
  width: 50px;
  max-width: 100%;
}
.sd[data-s-37c8f2a2-00d4-4f2b-aff4-3ae7d5b1c5dc] {
  align-content: center;
  align-items: center;
  background: #000;
  box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.2);
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 221px;
  justify-content: center;
  width: 931px;
  max-width: 100%;
}
.sd[data-s-a6460a05-b2a5-4e9c-a8f4-979ea6ee659d] {
  align-content: center;
  align-items: center;
  background: #000;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 137px;
  justify-content: center;
  width: 154px;
  max-width: 100%;
}
.sd[data-s-adb020cb-b700-4118-8dd8-73e7761b66b9] {
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-height: 1.4;
  text-align: left;
  width: auto;
  max-width: 100%;
  justify-content: flex-start;
}
.sd[data-s-bd75b65f-29a5-463d-b938-e2cee6354f0e] {
  align-content: center;
  align-items: center;
  background: #000;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 137px;
  justify-content: center;
  width: 154px;
  max-width: 100%;
}
.sd[data-s-c4594c45-b686-4ebc-a362-a075cd06ab9b] {
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-height: 1.4;
  text-align: left;
  width: auto;
  max-width: 100%;
  justify-content: flex-start;
}
.sd[data-s-fd8e08c6-6bf8-4bae-abbb-dde40ffa919d] {
  align-content: center;
  align-items: center;
  background: #000;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 137px;
  justify-content: center;
  width: 154px;
  max-width: 100%;
}
.sd[data-s-2c52b6ae-07a2-4c11-a980-effefc79e5a1] {
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-height: 1.4;
  text-align: left;
  width: auto;
  max-width: 100%;
  justify-content: flex-start;
}
.sd[data-s-b8431c33-9ff2-4f4e-ade4-5e1b76c2dad3] {
  align-content: center;
  align-items: center;
  background: #000;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 165px;
  justify-content: center;
  width: 349px;
  max-width: 100%;
}
.sd[data-s-c0529b0e-5214-4ac5-8732-7bd0469865aa] {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  height: auto;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}
.sd[data-s-ad8cd2af-5ced-4f50-a11f-8829e77bfa9b] {
  color: rgba(255, 255, 255, 0.72);
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  height: auto;
  margin: 10px 0 10px 0;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}
.sd[data-s-d952f7e7-c5c9-4cff-887d-7facfc05fe0c] {
  align-content: center;
  align-items: center;
  background: #000;
  border: solid 2px #eee;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 31px;
  justify-content: center;
  width: 212px;
  max-width: 100%;
}
.sd[data-s-e87972b3-182c-4faf-b569-7ee565e36beb] {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  height: auto;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}
.sd[data-s-c003fac2-0a6f-45b5-9915-438aedbdd285] {
  align-content: center;
  align-items: center;
  background: #eee;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 25px;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 212px;
  max-width: 100%;
}
.sd[data-s-bddfbdbb-e831-4e16-9d5d-43a16400abde] {
  color: #333;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}
body {
  background: #eee;
  transition: background 0.5s cubic-bezier(0.4, 0.4, 0, 1);
}
/* images */
.sd[data-rid="39"]:before {
  background-image: url(https://storage.googleapis.com/studio-front/default-img.png);
}

.sd[data-rid="40"]:before {
  background-image: url(https://images.unsplash.com/photo-1503342217505-b0a15ec3261c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjYzNDZ9);
}
.sd[data-rid="39"]:before {
  background-image: url(https://storage.googleapis.com/studio-front/default-img.png);
}
.sd[data-rid="42"]:before {
  background-image: url(https://images.unsplash.com/photo-1548389995-fbd3151a501f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjYzNDZ9);
}
.sd[data-rid="41"]:before {
  background-image: url(https://storage.googleapis.com/studio-front/default-img.png);
}
.sd[data-rid="44"]:before {
  background-image: url(https://images.unsplash.com/photo-1549043671-1e4550948355?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjYzNDZ9);
}
.sd[data-rid="43"]:before {
  background-image: url(https://storage.googleapis.com/studio-front/default-img.png);
}
.sd[data-rid="52"]:before {
  background-image: url(https://images.unsplash.com/photo-1543427100-3d7ff5e642b8?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjYzNDZ9);
}
.sd[data-rid="60"]:before {
  background-image: url(https://images.unsplash.com/photo-1578237421804-9674940e8b8e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjYzNDZ9);
}
.sd[data-rid="65"]:before {
  background-image: url(https://images.unsplash.com/photo-1541147602143-fb8d04ba9eca?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjYzNDZ9);
}
.sd[data-rid="72"]:before {
  background-image: url(https://images.unsplash.com/photo-1509204417148-31311b983045?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjYzNDZ9);
}
.sd[data-rid="78"]:before {
  background-image: url(https://images.unsplash.com/photo-1530062329328-9734c43ae31b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjYzNDZ9);
}
.sd[data-rid="83"]:before {
  background-image: url(https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjYzNDZ9);
}
